@ionic-enterprise:registry=https://registry.ionicframework.com/
//registry.ionicframework.com/:_authToken=key_3c90f56ecc7b4ff1bcd2d42f8e7277e9
@ecp:registry=https://pkgs.dev.azure.com/CVI-ECP/6283c33b-0e16-4e46-a788-1ea2ea86fdf6/_packaging/ecp/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/CVI-ECP/6283c33b-0e16-4e46-a788-1ea2ea86fdf6/_packaging/ecp/npm/registry/:username=CVI-ECP
//pkgs.dev.azure.com/CVI-ECP/6283c33b-0e16-4e46-a788-1ea2ea86fdf6/_packaging/ecp/npm/registry/:_password=NTdPUnh3ZHhsRXhRZjl3UkJBVDJkeUZwZDNYbjIxZzVPSmZPamJMQ1l2OFVkR3ZKWmtYWkpRUUo5OUNJQUNBQUFBQTU0YUVoQUFBU0FaRE9kTmhL
//pkgs.dev.azure.com/CVI-ECP/6283c33b-0e16-4e46-a788-1ea2ea86fdf6/_packaging/ecp/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/CVI-ECP/6283c33b-0e16-4e46-a788-1ea2ea86fdf6/_packaging/ecp/npm/:username=CVI-ECP
//pkgs.dev.azure.com/CVI-ECP/6283c33b-0e16-4e46-a788-1ea2ea86fdf6/_packaging/ecp/npm/:_password=NTdPUnh3ZHhsRXhRZjl3UkJBVDJkeUZwZDNYbjIxZzVPSmZPamJMQ1l2OFVkR3ZKWmtYWkpRUUo5OUNJQUNBQUFBQTU0YUVoQUFBU0FaRE9kTmhL
//pkgs.dev.azure.com/CVI-ECP/6283c33b-0e16-4e46-a788-1ea2ea86fdf6/_packaging/ecp/npm/:email=npm requires email to be set but doesn't use the value
; end auth token